body{
       background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fmsptucuman.gov.ar%2Felogian-el-funcionamiento-y-capacidad-de-respuesta-del-vacunatorio%2F&psig=AOvVaw0cpIfZol6VYwIM3wJ1ZK2j&ust=1635264403500000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKiW7OT45fMCFQAAAAAdAAAAABAD");
       background-size: auto;
       background-repeat: no-repeat;
   }
